<div class="container">
	<h3>StaticPages#index</h3>
	<p class="time_p">Welcome! The date is <%= Time.now.strftime("%A %d %B %Y")%></p>
</div>	

<div class="container">
	<%= image_tag("baby_panda.jpg")%>
</div>	
