// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 { 
	font-family: "Helvetica Neue", Arial;
	color: #333;
}

h1 {
	padding: 20px 20px 0px 20px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0px;
}

h2 {
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: left;
}

h3, .time_p {
	text-align: center;
}

//Nav

.main_title {
	margin-top: 80px;
}

//Index 

img {
	height: 500px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

//carousel

.carousel {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.carousel-control {
	opacity: 0;
	background-color: #fff;	
}

a .carousel-control {
	background-image: none;
	background-repeat: no-repeat;
}

a.right.carousel-control, a.left.carousel-control {
	background-image: none;
}

.carousel-control:hover,
.carousel-control:focus {
	color: #000;
}