
<div class="container">
  <h2>Panda Packages</h2>   
  
      <table>
        <col class="name_col">
        <col class="descrip_col">
        <col class="price_col">
        <col class="image_col">
        <col class="show_col">
        <col class="edit_col">
        <col class="destroy_col">

        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="description">Description</th>
            <th class="price">Price</th>
            <th class="image">Image_url</th>
          </tr>
        </thead>

        <tbody>
          <%= render @products %>
        </tbody>
      </table>
  
</div><!-- end container -->  
    <br>

  <div class="container new_product">
    <%= link_to 'New Product', new_product_path %>
  </div>
