<!DOCTYPE html>
<html>
<head>
  <title>School of Pandas</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <script src="code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<h1>Welcome to the School of Pandas!</h1>
	</div>
	<div class="container-fluid">
		<h2>A place for pandas to excel</h2>
	</div>	

<%= yield %>

</body>
</html>
